@media (max-device-width: 499px) {
  #desktop-warning {
    padding-bottom: 2em;
  }
}
@media (min-device-width: 500px) {
  #desktop-warning {
    display: none;
  }
}

body {
  margin: auto;
  margin-top: 5em;
  text-align: center;
  max-width: 400px;
  max-height: 500px;
}

#bounding-box {
  padding: 2em 1em;
  border: 1px solid #000;
}

#about {
  margin-top: 3em;
}

#about-title {
  font-weight: 600;
}

.italicize {
  font-style: italic;
}