@media(max-width: 929px) {
  #sketch-parent {
    width: 600px;
    height: 400px;
  }
}
@media(min-width: 930px) and (max-width: 1529px) {
  #sketch-parent {
    width: 900px;
    height: 600px;
  }
}
@media(min-width: 1530px) {
  #sketch-parent {
    width: 1200px;
    height: 800px;
  }
}

#sketch-parent {
  margin: 0 auto;
  position: relative; 
  margin-top: 4em;
}

#toolbar {
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 2em;
}

#message-maker {
  width: 300px;
}

#message-input {
  width: 300px;
  height: 80px;
  resize: none;
}

#save-button {
  margin-top: 0.5em;
  float: right;
}

#code-field {
  padding: 1em;
  border: 1px solid #000;
  max-width: 450px;
  max-height: 75px;
  overflow-y: scroll;
  word-break: break-all;
  visibility: hidden;
  margin-left: 32px;
  margin-top: 17px;
}

#copied {
  visibility: hidden;
  font-weight: normal;
}

.emphasize {
  font-weight: 600;
}

#about-title {
  font-weight: 600;
  font-size: 28px;
}

.italicize {
  font-style: italic;
}